@CHARSET "UTF-8";

body {
	font-size: 8pt; 
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin-bottom:25px;
}
p { 
	font-size: 8pt;
	margin:.1em 0;
	/* background-color:green; */
}
p.MsoNormal, li.MsoNormal, div.MsoNormal { 
	margin: 0; 
	font-size: 8pt; 
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding:0;
	margin:.1em 0;
}

h1 { 
	margin:0;
	font-size: 8pt; 
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

p.MsoHeading7, li.MsoHeading7, div.MsoHeading7 { 
	margin: 0; 
	text-align: center; 
    font-size: 8pt; 
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bold;
	padding:0;
}

span.Heading1Char { 
	font-weight: bold;
}
span.Heading7Char { 
	font-weight: bold;
}

.MsoChpDefault { 
	font-size: 8pt;
}
.tab1 {
	margin-left:50px;
}
.tab2 {
	margin-left:100px;
}
.tab3 {
	margin-left:150px;
}
.tab4 {
	margin-left:200px;
}
.tab5 {
	margin-left:250px;
}
.tab6 {
	margin-left:300px;
}
.tab7 {
	margin-left:350px;
}
.tab8 {
	margin-left:400px;
}
.tab9 {
	margin-left:450px;
}
.tab10 {
	margin-left:500px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
}
