@CHARSET "UTF-8";
/* Internet Explorer 9 */

body {
    margin-bottom:50px;
}

/* reset browser defaults */
div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,br,blockquote,th,td,tb,table
	{
	margin: 0px;
	padding: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	outline: none;
	outline-style: none;
}
ol {
    margin:0px;
    padding-left:20px;
}

p {
	/* display:inline; */
}

h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
}

/* End reset browser defaults */

