<div>
    <div dojoAttachPoint="_gridNode">
    </div>
    <div style="padding: 0px; position: static; text-indent: 0px; padding: 0px;" class="dojoxGridHeader"  dojoAttachPoint="buttonBar">
        <div style="width: 100%; text-indent: 0px; padding: 0px;" class="dojoxGridCell">
            <button dojoType="dijit.form.Button" dojoAttachPoint="prevButton" dojoAttachEvent="onClick: prevPage" style="float: left;">${prevLabel}</button>
            <button dojoType="dijit.form.Button" dojoAttachPoint="nextButton" dojoAttachEvent="onClick: nextPage" style="float: right">${nextLabel}</button>
            <span dojoAttachPoint="pageCount"></span>
        </div>
    </div>
</div>
